<footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800" id="bottom">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://chazam.com/" class="hover:underline">Chazam™</a>. All Rights Reserved.</span>
    <a href="/">
        <div class="flex items-center justify-center mt-4 md:mt-0 md:order-1">
            <img src="/static/assets/chazamPng.png" class="h-6 mr-3 sm:h-9" alt="Chazam™ Logo">
            <p class="justify-center ml-0 text-gray-500">Chazam</p>
        </div>
    </a>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0 sm:justify-center md:order-2">
        <li>
            <a href="/" class="mr-4 hover:underline md:mr-6 ">Home</a>
        </li>
        <!-- <li>
            <a href="/random" class="mr-4 hover:underline md:mr-6">Random group</a>
        </li> -->
        <li>
            <a href="#top" class="mr-4 hover:underline md:mr-6">Top of the page</a>
        </li>
        <li>
            <a href="#" class="hover:underline">About Chazam</a>
        </li>
    </ul>
</footer>
