<div>    
    <nav class="bg-blue-200 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 fixed w-full">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a href="/" class="flex items-center">
                <img src="/static/assets/chazamPng.png" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">{{ .ProjectName }}</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Ouvrir le menu principal</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
            <div class="w-[64rem]">
            <form method="post">
                <div class="flex relative">
                    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover"
                    class="flex-shrink-0 
                        z-10 
                        inline-flex 
                        items-center 
                        py-2.5 
                        px-4 
                        text-sm 
                        font-medium 
                        text-center 
                        text-gray-900 
                        bg-gray-200 
                        border 
                        border-gray-300 
                        rounded-l-lg 
                        hover:bg-gray-300
                        hover:duration-500
                        focus:ring-4 
                        focus:outline-none 
                        focus:ring-gray-100 
                        dark:bg-gray-700 
                        dark:hover:bg-gray-600 
                        dark:focus:ring-gray-700 
                        dark:text-white 
                        dark:border-gray-600" 
                        type="button"> Filtres <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg> </button>
                        <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                                </li>
                            </ul>
                        </div>
                   <div class="relative w-full">
                        <input type="search" name="search_input" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" {{ if ne .LastResearchInput ""}} value="{{.LastResearchInput}}" {{ end }} placeholder="Search name, dates, ..." required autocomplete="off">
                        <button type="submit" class="absolute top-0.5 right-0 p-2.5 text-sm font-medium text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                            </svg>
                        </button>
                        <a class="absolute top-0.5 right-10 p-2.5 text-sm font-medium text-white bg-blue-700 rounded-l-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="/">
                            <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" stroke="currentColor" stroke-width="1.5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </form>
        </div>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="flex flex-col p-4 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900">
                    <li>
                        <a href="/" class="block py-2 pl-3 pr-4 text-black dark:text-white md:bg-transparent md:p-0 {{ if eq .PageName "home" }} md:text-blue-700 {{ end }}" aria-current="page">Accueil</a>
                    </li>
                    <li>
                        <a href="/random" class="block py-2 pl-3 pr-4 text-black dark:text-white md:bg-transparent md:p-0 {{ if eq .PageName "idk" }} md:text-blue-700 {{ end }}" aria-current="page">Page aléatoire</a>
                    </li>
                    <!-- <li>
                        <a href="#bottom" class="block py-2 pl-3 pr-4 text-black dark:text-white md:bg-transparent md:p-0 {{ if eq .PageName "bottom" }} md:text-blue-700 {{ end }}" aria-current="page">Bas de la page</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>  
</div>
