footer {
    /* only positonnement without fixed */
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    /* only positonnement */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body {
    position: relative;
    top: 5vh;
    padding-bottom: 15vh;
    z-index: 1;
}
