
header {
    /* only positonnement */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index */
    z-index: 100;
}

body {
    /* only positonnement */
    position: relative;
    top: 5vh;
    padding-bottom: 15vh;
}
