@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body{ 
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #ffffff;
  color: rgb(41, 41, 41);
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
}

div{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.line-1 {
    position: absolute;
    top: 10vh;
    /* left: 28%; */
    text-align: center;
    /* background: linear-gradient(90deg, #131313 0%, #131313 50%, #131313 100%); */
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.line-2 {
    position: absolute;
    top: 45vh;
    /* left: 35%; */
    text-align: center;
    /* background: linear-gradient(90deg, #131313 0%, #131313 50%, #131313 100%); */
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.subText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 4vh;
    font-family: 'Fira Mono', monospace;
    letter-spacing: 0;
    color: rgb(97, 97, 97);
    opacity: 0.7;
    margin: 1%;
  }
