<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Orbitron&family=Bebas+Neue&family=Comfortaa&family=Faster+One&family=Lacquer&family=Reem+Kufi+Ink&family=Rock+Salt&family=Shadows+Into+Light&family=Unbounded&family=Metal+Mania&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/advanced.css">

        <script defer src="/static/js/script.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>

        <title>{{ .ProjectName }} - Advanced search</title>
    </head>
    <header>
        {{ index .Fragments "navigationbar.html" }}
    </header>
    <body onload="init()">
        <h1 class="px-10 pt-20 text-7xl font-semibold text-white text-center">Recherche avancée</h1>
        <form method="post" action="/advanced" class="px-10">
            <div class="date">
                <div class="divider h-full" id="localisations">
                    <h2 class="text-5xl"> Année </h2>
                </div>
                <div class="currentValue">
                    <span class="text-gray-700 dark:text-gray-300" id="date-range-value">1950</span>
                </div>
                <input id="date-range" type="range" min="1950" max="2023" value="1950" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
            </div>
            <div class="membersNumber">
                <div class="divider h-full pt-50 md:p-10" id="membersNumber"> 
                    <h2 class="text-5xl"> Nombres de membre </h2>
                </div>
                {{ range .ASearch_MembersNumber }}
                    <label class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" value="{{ . }}" name="membersNumber" id="inlineCheckbox1">
                        <label class="form-check-label inline-block text-white" for="inlineCheckbox1">{{ . }}</label>
                    </label>
                {{ end }}
            </div>
            <div>
                <div class="divider h-full pt-50 md:p-10" id="localisations">
                    <h2 class="text-5xl"> Localisations </h2>
                </div>
                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
                <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" multiple>
                {{ range .ASearch_Locations }}
                    <option value="{{ . }}">{{ . }}</option>
                {{ end }}
                </select>
            </div>
            <div class="text-center py-5">
                <input type="submit" name="Valider" value="Valider" class="btn btn-primary">
            </div>
        </form>
    </body>
    {{ index .Fragments "footer.html" }}
</html>