<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Orbitron&family=Bebas+Neue&family=Comfortaa&family=Faster+One&family=Lacquer&family=Reem+Kufi+Ink&family=Rock+Salt&family=Shadows+Into+Light&family=Unbounded&family=Metal+Mania&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/advanced.css">

        <script defer src="/static/js/script.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>

        <title>{{ .ProjectName }} - Recherche avancée</title>
    </head>
    <header>
        {{ index .Fragments "navigationbar.html" }}
    </header>
    <body onload="init()" class="w-screen bg-gradient-to-b dark:from-gray-900 from-blue-200 to-white dark:to-gray-800 dark:text-white pb-0 ">
        <h1 class="px-10 pt-20 text-6xl font-semibold text-white text-center">Recherche avancée</h1>
        <form method="post" action="/advanced" class="px-10 pt-20">
            <div class="date">
                <div class="divider h-full" id="localisations">
                    <h2 class="text-4xl"> Par année </h2>
                </div>
                <div class="currentValue">
                    <span class="text-gray-700 dark:text-gray-300" id="date-range-value">1950</span>
                </div>
                <input id="date-range" type="range" min="1950" max="2023" value="1950" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
            </div>
            <div class="membersNumber">
                <div class="divider h-full pt-50 md:p-10" id="membersNumber"> 
                    <h2 class="text-4xl"> Nombres de membres du groupe </h2>
                </div>
                <div class="flex justify-center">
                    {{ range .ASearch_MembersNumber }}
                        <label class="form-check form-check-inline flex items-center">
                            <input type="checkbox" class="justify-items-center form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" value="{{ . }}" name="membersNumber" id="inlineCheckbox1">
                            <label class="form-check-label inline-block text:black black:text-white font-['Bebas_Neue'] mt-2" for="inlineCheckbox1">{{ . }}</label>
                        </label>
                    {{ end }}
                </div>
            </div>
            <div>
                <div class="divider h-full pt-50 md:p-10" id="localisations">
                    <h2 class="text-4xl"> Localisations </h2>
                </div>
                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Séléctionnez une ou plusieurs localisations</label>
                <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" multiple>
                {{ range .ASearch_Locations }}
                    <option value="{{ . }}">{{ . }}</option>
                {{ end }}
                </select>
            </div>
            <div class="text-center py-5">
                <input type="submit" name="Rechercher" value="Rechercher" class="text-black border-blue-600 dark:text-white hover:bg-blue-600 btn btn-primary">
            </div>
            
        </form>
        <div class="mb-64 sticky grid grid-cols-10 w-full place-content-center gap-4">{{range .Groups}}
                <a href="/group/{{.Id}}/">
                    <div class="flex space-x-2 mb-5">
                        <span class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">{{.MostValuableGenre.Name}}</span>
                    </div>
                    <div class="rounded-lg hover:scale-110 shadow-lg bg-white w-48 hover:bg-gray-600 easy-in duration-300 dark:bg-gray-600 mx-5" loading="lazy">
                        <img class="rounded-t-lg" src="{{.ImageLink}}" alt={{.Name}}/>
                        <div class="p-6">
                            <h5 class="text-gray-900 text-xl font-medium mb-2 dark:text-white text-center">{{.Name}}</h5>
                        </div>
                    </div>
                </a>
            {{end}}
        </div>
    </body>
    <footer>
        <div class="fixed bottom-1 w-full">{{ index .Fragments "footer.html" }}</div>
    </footer>
</html>