<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Nova Square' rel='stylesheet'>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
        <link rel="stylesheet" href="/static/css/home.css">
        <title>{{ .ProjectName }} - Accueil</title>
    </head>
    <header>
        {{ index .Fragments "navigationbar.html" }}
        <div class="mt-2 mx-5">
            <form method="post">
                <div class="flex">
                    <!-- <label for="category-select" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label> -->
                    <select name="search_category" id="category-select" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600">
                        <option {{ if eq .LastResearchCategory "all"}} selected {{ end }} value="all">Toutes les catégories</option>
                        <option {{ if eq .LastResearchCategory "name"}} selected {{ end }} value="name">Nom</option>
                        <option {{ if eq .LastResearchCategory "date"}} selected {{ end }} value="date">Date</option>
                        <option {{ if eq .LastResearchCategory "places"}} selected {{ end }} value="places">Endroits</option>
                        <!-- <option value="logos">Logos</option> -->
                    </select>
                    <div class="relative w-full">
                        <input type="search" name="search_input" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" {{ if ne .LastResearchInput ""}} value="{{.LastResearchInput}}" {{ end }} placeholder="Search name, dates, ..." required>
                        <button type="submit" class="absolute top-0.5 right-0 p-2.5 text-sm font-medium text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                            </svg>
                        </button>
                        <a class="absolute top-0.5 right-10 p-2.5 text-sm font-medium text-white bg-blue-700 rounded-l-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="/">
                            <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" stroke="currentColor" stroke-width="1.5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        {{ index .Fragments "messages.html" }}
    </header>
    <body class="dark:bg-gray-800" style="margin-top: 15vh;">
        <div class="container w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-7 justify-items-center mx-auto">
            <h1> GENRE </h1>
            {{range .DeezerGenres}}
                <a href="/genre/?genre={{.Id}}">
                    <div class="rounded-lg hover:scale-110 shadow-lg bg-white w-48 mb-5 hover:bg-gray-600 easy-in duration-300 dark:bg-gray-600 mx-5" loading="lazy">
                        <img class="rounded-t-lg" src="{{.Picture}}" alt={{.Name}}/>
                        <div class="p-6">
                            <h5 class="text-gray-900 text-xl font-medium mb-2 dark:text-white text-center">{{.Name}}</h5>
                        </div>
                    </div>
                </a>
            {{end}}
        </div>
        <h1> GROUPES </h1>
        <div class="container w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-7 justify-items-center mx-auto">
            {{range .Groups}}
                <a href="/group/{{.Id}}/">
                    <div class="flex space-x-2 justify-center">
                        <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-blue-600 text-white rounded-full">{{.MostValuableGenre.Name}}</span>
                    </div>
                    <div class="rounded-lg hover:scale-110 shadow-lg bg-white w-48 mb-5 hover:bg-gray-600 easy-in duration-300 dark:bg-gray-600 mx-5" loading="lazy">
                        <img class="rounded-t-lg" src="{{.ImageLink}}" alt={{.Name}}/>
                        <div class="p-6">
                            <h5 class="text-gray-900 text-xl font-medium mb-2 dark:text-white text-center">{{.Name}}</h5>
                        </div>
                    </div>
                </a>
            {{end}}
            {{ if eq (len .Groups) 0 }}
            <p style="position: absolute;left: 0;right: 0;text-align: center;font-size: 4vh;font-family: 'Fira Mono', monospace;letter-spacing: 0;color: rgb(97, 97, 97);opacity: 0.7;margin: 1%;">Pas de résultats, relisez ce que vous avez écrit...</p>
            {{end}}
        </div>
       {{ index .Fragments "cookie.html" }}
       {{ index .Fragments "footer.html" }}
    </body>
</html>