<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Orbitron&family=Bebas+Neue&family=Comfortaa&family=Faster+One&family=Lacquer&family=Reem+Kufi+Ink&family=Rock+Salt&family=Shadows+Into+Light&family=Unbounded&family=Metal+Mania&display=swap" rel="stylesheet">
        <title>{{ .ProjectName }} - Accueil</title>
    </head>
    <header>
        <div>
            {{ index .Fragments "navigationbar.html" }}
        </div>
    </header>
    <body class="bg-gradient-to-b from-gray-900 to-gray-800"> 
        <div>
            {{ if ne (len .GroupByGenres) 0 }}
            {{ range $key, $value := .GroupByGenres }}
                {{ if ne (len $value) 0 }}
                    {{ if ne $key.Name "" }}
                    <div class="flex place-content-center w-full sticky top-20">
                         <div class="grow shadow-lg">
                            <img class="rounded-t-lg w-full h-[60rem] blur-lg" src="{{$key.PictureXl}}" alt={{$key.Name}} loading="lazy"/>
                        </div>
                        <div class="absolute container z-10">
                            <div class="divider h-full w-full">
                                <h2 class="text-7xl text-white
                                font-['{{ if eq $key.Name "Classique"}}Niconne{{end}}{{ if eq $key.Name "Dance"}}Orbitron{{end}}{{ if eq $key.Name "Rap/Hip Hop"}}Lacquer{{end}}{{ if eq $key.Name "Pop"}}Reem_Kufi_Ink{{end}}{{ if eq $key.Name "Reggae"}}Shadows_Into_Light{{end}}{{ if eq $key.Name "Metal"}}Metal_Mania{{end}}{{ if eq $key.Name "Rock"}}Rock_Salt{{end}}{{ if eq $key.Name "Alternative"}}Unbounded{{end}}']">{{$key.Name}}</h2>
                            </div>
                            <div class="grid grid-cols-7 w-full h-[48rem] place-content-center auto-rows-max gap-4">
                                {{ range $value }} 
                                    <div>
                                        <a  href="/group/{{.Id}}"><img class="" src="{{.ImageLink}}"/></a>
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{end }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ if ne (len .Groups) 0}}
                {{ range .Groups }}
                    <div class="flex">
                        <a href="/group/{{.Id}}" class="group hover:scale-110 hover:z-10 transform ease-in-out transition duration-100">
                            <div class="mnt-20 translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                                <p class="text-sm dark:text-white groupeName">{{.Name}}</p>
                            </div>
                            <img class="h-1/2 rounded-xl ring-2 ring-white" src="{{.ImageLink}}"/>
                        </a>
                    </div>
                {{ end }}
            {{ end }}
            {{ if ne (len .TrackResearch) 0}}
                {{ range .TrackResearch}}
                    <div class="flex">
                        <a href="/group/{{.GroupId}}" class="group hover:scale-110 hover:z-10 transform ease-in-out transition duration-100">
                            <div class="mnt-20 translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                                <p class="text-sm dark:text-white groupeName">{{.Track.Title}}</p>
                            </div>
                            <img class="h-1/2 rounded-xl ring-2 ring-white" src="{{.Track.Album.Cover}}"/>
                        </a>
                    </div>
                {{ end }}
            {{ end }}
            {{ if ne (len .TrackArtist) 0}}
                {{ range .TrackArtist}}
                    <div class="flex">
                        <a href="/group/{{.GroupId}}" class="group hover:scale-110 hover:z-10 transform ease-in-out transition duration-100">
                            <div class="mnt-20 translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                                <p class="text-sm dark:text-white groupeName">{{.Name}}</p>
                            </div>
                            <img class="h-1/2 rounded-xl ring-2 ring-white" src="{{.ImageLink}}"/>
                        </a>
                    </div>
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if eq (len .Groups) 0 }}
            <p style="position: absolute;left: 0;right: 0;text-align: center;font-size: 4vh;font-family: 'Fira Mono', monospace;letter-spacing: 0;color: rgb(97, 97, 97);opacity: 0.7;margin: 1%;">Pas de résultats, relisez ce que vous avez écrit...</p>
        {{end}}
        </div>
        <script defer src="/static/js/script.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    </body>
    <footer>
        {{ index .Fragments "footer.html" }}
    </footer>
</html>
