<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Nova Square' rel='stylesheet'>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/static/css/notFound.css">
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
        <script src="/static/js/script.js"></script>
        <title>Error {{ .ErrorCode }}</title>
    </head>
    <header class="barre">
        {{ index .Fragments "navigationbar.html" }}
        {{ index .Fragments "messages.html" }}
    </header>
    <body class="dark:bg-gray-800">
        <div class="-z-5 dark:text-blue-700 opacity-50 number" style="font-size: 35rem;font-family:'Nova Square';">{{ .ErrorCode }}</div>
        <div title="Oh Snap" class="line-1 dark:text-gray-300 glitchCss">Oh Snap</div>
        <div title="Page not found" class="line-2 dark:text-gray-300 glitchCss">Page introuvable</div>
        <p class="subText">Essayez de retourner sur la <a href="/">page d'accueil</a>.</p>
        {{ index .Fragments "cookie.html" }}
    </body>
    {{ if false }}
    {{ index .Fragments "footer.html" }}
    {{ end }}
</html>