<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <script src="/static/js/script.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/map.css" />
    <script>
    function initMap() {
      const myLatLng = { lat: {{ (index .Group.DateLocations 0).Loc.Lat}} , lng: {{ (index .Group.DateLocations 0).Loc.Long}} }
        var options = {     
            zoom: 10,
            center: myLatLng
        }
        var map = new google.maps.Map(document.getElementById('map'), options);
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map
        });
    }
</script>
    <title>{{ .ProjectName }} - {{ .Group.Name }}</title>
</head>

<body>
      <div id="map"></div>

      <!-- 
       The `defer` attribute causes the callback to execute after the full HTML
       document has been parsed. For non-blocking uses, avoiding race conditions,
       and consistent behavior across browsers, consider loading using Promises
       with https://www.npmjs.com/package/@googlemaps/js-api-loader.
      -->
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
        defer
      ></script>  
</body>

<!-- <div class="grid grid-flow-row">
                    {{ range $key, $value := .Group.DateLocations }}
                        {{ range $value }}      
                           <button onclick="ChangeMapCoordinates({{.Loc.Lat}}, {{.Loc.Long}})">
                                {{ $key }}
                                <ul>
                                {{ range .DateTime }}
                                    <li> {{ . }} </li>
                                {{ end }}
                                </ul>
                            </button> 
                        {{ end }}
                    {{ end }}
                </div>-- >